@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "DM Sans", "Segoe UI", system-ui, -apple-system, sans-serif;
	}

	html {
		font-size: 15px;
	}

	body {
		@apply bg-white dark:bg-slate-1000 dark:text-white;
	}

	h1 {
		@apply text-4xl dark:text-white;
	}
	h2 {
		@apply text-3xl dark:text-white;
	}
	h3 {
		@apply text-2xl dark:text-white;
	}
	h4 {
		@apply text-xl dark:text-white;
	}
	h5 {
		@apply text-lg dark:text-white;
	}
	h6 {
		@apply text-base dark:text-white;
	}
}

@layer components {
}

@layer utilities {
	.user-select-none {
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}

	.w-112 {
		width: 28rem;
	}
}

.dark {
	@apply bg-slate-1000 text-gray-100;
}

a,
.tw-a-button {
	@apply text-accent-600 dark:text-accent-300 inline relative;
}
a:hover,
.tw-a-button:hover {
	@apply dark:text-accent-100 text-accent-800 underline underline-offset-4;
}

.font-sans {
	font-family: "DM Sans", "Segoe UI", system-ui, -apple-system, sans-serif;
}
.font-serif {
	font-family: "DM Sans", "Sanchez", ui-serif, Georgia, Cambria, "Times New Roman",
		Times, serif;
	@apply tracking-tight;
}

.container {
	width: 92%;
}

@media (max-width: 1024px) {
	.container {
		width: 98%;
	}
}
@media (max-width: 768px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 640px) {
	.container {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 100%;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 100%;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1450px;
	}
}
@media (min-width: 1836px) {
	.container {
		max-width: 1800px;
	}
}
@media (min-width: 2222px) {
	.container {
		max-width: 2100px;
	}
}

.text-smb {
	font-size: 0.94rem;
	line-height: 1.3rem;
}

button:disabled {
	@apply pointer-events-none opacity-30;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
	@apply w-4;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-black bg-opacity-5 dark:bg-opacity-40 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-slate-400 dark:bg-slate-600 rounded-xl border-gray-200 dark:border-slate-800 border-[3px] border-solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-500;
}

.material-icons {
	@apply user-select-none;
}

.tw-input-focus {
	@apply focus-visible:outline-accent-200 transition-colors dark:focus-visible:outline-slate-800 dark:focus-visible:bg-slate-900 outline outline-transparent focus-visible:border-accent-700 hover:outline-accent-200 dark:hover:outline-slate-800 outline-[4px];
}

.tw-slate-light-button {
	@apply bg-gray-300 transition-colors inline-block duration-150 text-gray-800 px-5 py-2 rounded-lg font-semibold;
}
.tw-slate-light-button:hover {
	@apply bg-gray-400 bg-opacity-60 border-0 text-gray-900;
}
.tw-accent-light-button {
	@apply bg-accent-200 dark:bg-slate-700 transition-colors inline-block duration-150 text-accent-800 dark:text-white px-5 py-2 rounded-lg font-semibold;
}
.tw-accent-light-button:hover {
	@apply bg-accent-300 dark:bg-slate-900 bg-opacity-80 border-0 text-black dark:text-white;
}
.tw-accent-light-button:after {
	@apply !bg-transparent;
}

/* Sidebar */
nav[aria-label="Main"] button[aria-current="page"],
nav[aria-label="Main"] a[aria-current="page"] {
	@apply bg-accent-100 dark:bg-slate-700 text-accent-700 dark:text-white font-medium border-accent-200 dark:border-slate-900 border;
}
.tw-sidebar-nav-btn {
	@apply block text-left xl:mr-4 pl-4 w-full py-1.5 my-1 rounded-lg border border-transparent hover:bg-gray-200 hover:text-black dark:hover:text-white dark:hover:border-slate-700 hover:border-gray-300 focus:bg-slate-200 dark:focus:bg-slate-800 dark:hover:bg-slate-800 xl:hover:pl-6 xl:focus:pl-6 transition-all hover:cursor-pointer;
}
.tw-sidebar-nav-btn > span:nth-child(1) {
	@apply align-middle;
	font-size: 1.3rem;
}
.tw-sidebar-nav-btn > span:nth-child(2) {
	@apply ml-3 align-middle;
	font-size: 0.9rem;
}

.tw-term-accordion[aria-expanded="true"] {
	animation: tw-dropdown-animation 0.1s ease-out;
}
.tw-term-accordion[aria-expanded="false"] {
	animation: tw-dropdown-animation 0.1s ease-out reverse;
}
@keyframes tw-dropdown-animation {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.term-selector-dropdown-item {
	@apply text-gray-700 dark:text-slate-200 rounded text-left block px-2 py-1.5 text-sm transition-all w-full;
}
.term-selector-dropdown-item[aria-current="true"] {
	@apply font-bold text-accent-700 dark:text-accent-300 cursor-default;
}
.term-selector-dropdown-item[aria-current="true"]::before {
	content: "•";
	@apply pr-2;
}
.term-selector-dropdown-item[aria-current="false"] {
	@apply hover:bg-gray-200 dark:hover:bg-slate-800 hover:px-4;
}

/* Topbar */
.tw-animate-to-right {
	@apply ml-2 mr-1 transition-all;
}

.tw-animate-to-right-parent:hover .tw-animate-to-right {
	@apply ml-3 mr-0;
}
/* MyCourses */
.tw-animate-to-90 {
	transform: rotate(0);
	transition: transform 0.2s ease-in-out;
}
.tw-animate-to-90-parent:hover .tw-animate-to-90 {
	transform: rotate(90deg);
}

.tw-animation-scaleup,
.tw-animation-scaleup-sm {
	@apply transition-transform;
}
.tw-animation-scaleup-parent:hover .tw-animation-scaleup {
	@apply scale-110;
}
.tw-animation-scaleup-parent:hover .tw-animation-scaleup-sm {
	@apply scale-105;
}

.tw-show-on-hover {
	@apply absolute hidden w-48 text-sm leading-5 px-2 py-1.5 bg-white rounded-lg border border-gray-200 shadow;
}
.tw-show-on-hover-parent:hover .tw-show-on-hover {
	@apply block;
}

/* accordion */
.accordion[aria-expanded="true"] {
	@apply h-fit;
}
.accordion[aria-expanded="false"] {
	@apply h-0 hidden;
}

/* Multiple Select */
#multiselectContainerReact .search-wrapper {
	@apply border-0 p-0 m-0 max-w-[15rem];
}
#multiselectContainerReact .search-wrapper #search_input {
	@apply bg-white dark:bg-slate-900 dark:text-white rounded-lg px-3 py-1.5 border border-solid border-gray-400 shadow w-full block;
}
.multiSelectContainer input {
	@apply !mt-0;
}
.multiSelectContainer ul {
	@apply !max-h-96;
}
#multiselectContainerReact .search-wrapper .chip {
	@apply align-middle my-0.5 bg-accent-600 rounded !p-0 !pl-2;
}
#multiselectContainerReact .search-wrapper .chip + #search_input {
	@apply !mt-1;
}
#multiselectContainerReact .highlightOption {
	@apply bg-accent-200 text-black;
}
#multiselectContainerReact .closeIcon {
	@apply py-2 h-7 w-7 !ml-1 hover:bg-black hover:bg-opacity-30 rounded-r;
}
.optionListContainer {
	@apply max-w-[15rem];
}
#multiselectContainerReact li.option:hover {
	@apply bg-accent-200 dark:bg-slate-800 dark:text-white text-black;
}
.optionContainer {
	@apply !shadow !rounded border border-solid dark:bg-slate-700 dark:text-white dark:!border-slate-900 !border-gray-300;
}
.optionContainer li {
	@apply !px-4 !py-2 text-sm;
}
.notFound {
	@apply !px-4 !py-2 text-gray-500 text-sm bg-gray-200 dark:bg-slate-700 dark:text-slate-300;
}

.tw-browse-course-filter #multiselectContainerReact .search-wrapper {
	@apply w-full max-w-full;
}
.tw-browse-course-filter #multiselectContainerReact .search-wrapper #search_input {
	@apply bg-transparent border-transparent shadow-none px-4;
}
.tw-browse-course-filter #multiselectContainerReact .search-wrapper .chip {
	@apply ml-2 mr-0 mt-1;
}
.tw-browse-course-filter #multiselectContainerReact .search-wrapper .chip:nth-child(1) {
	@apply mt-1;
}
.tw-browse-course-filter .optionListContainer {
	@apply mt-0 md:top-0 md:-right-60;
}

.tw-shadow-b {
	box-shadow: 4px 2px 5px -2px rgba(0, 0, 0, 0.2);
}
.tw-shadow {
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
}
.tw-shadow-sm {
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}
.tw-lbr-shadow {
	box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.15);
}
.tw-lbr-shadow-sm {
	box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
}
.tw-searchbar-shadow {
	box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.1);
}
.tw-searchbar[aria-selected="false"] {
	top: 0px;
	transform: scale(1);
	animation: up-animation 0.1s ease-in;
}
.tw-searchbar[aria-selected="true"] {
	top: 0px;
	transform: scale(1.01);
	animation: down-animation 0.1s ease-in;
}
.tw-searchbar {
	top: 0px;
	transform: scale(1);
}

@keyframes down-animation {
	0% {
		top: 0;
		transform: scale(1);
	}
	100% {
		top: 0px;
		transform: scale(1.01);
	}
}
@keyframes up-animation {
	100% {
		top: 0;
		transform: scale(1);
	}
	0% {
		top: 0px;
		transform: scale(1.01);
	}
}

.tw-searchbar-shadow[aria-expanded="false"] {
	animation: tw-searchbarbox-fade-out 0.2s ease-in;
	opacity: 0;
	visibility: hidden;
	display: block;
	height: auto;
	transition-property: visibility;
	transition-duration: 0;
	transition-delay: 0.2s;
}
@keyframes tw-searchbarbox-fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.tw-searchbar-shadow[aria-expanded="true"] {
	animation: consistent-fade-in 0.25s ease-out;
	opacity: 1;
	visibility: visible;
	display: block;
}
.tw-searchbar-shadow {
	opacity: 0;
}
.tw-searchbar #searchinput[aria-current="false"] {
	transition-property: border, box-shadow, border-radius;
	transition-duration: 0.25s;
	transition-delay: 0.2s;
	border-radius: 0.5rem;
	@apply border-gray-300 border-opacity-70 dark:border-slate-800 shadow;
}
.tw-searchbar #searchinput[aria-current="true"] {
	border-radius: 0px;
	@apply border-transparent;
}
#searchinput {
	border-radius: 0.5rem;
	@apply text-slate-700 border-gray-300 border-opacity-70 dark:border-slate-800 dark:text-white dark:bg-slate-700;
	@apply relative z-20 font-medium border md:w-[18rem] lg:w-[22rem] xl:w-[24rem] 2xl:w-[28rem] px-5 py-2 pl-12 focus-visible:outline focus-visible:outline-[0px];
}

.tw-search-tab {
	@apply font-medium text-gray-500 dark:text-slate-200 py-1.5 px-2.5 border-b-2 border-transparent;
}

.tw-search-tab[aria-current="true"] {
	@apply text-accent-800 border-accent-800 dark:text-white dark:border-white;
}

.tw-search-tab:hover {
	@apply text-gray-700 bg-accent-100 dark:bg-slate-800 dark:text-white rounded-t;
}

/*
* Theme Toggle
*/
.darkmode-toggle {
	font-size: 0.8rem;
	height: 1.9em;
	line-height: 1.8rem;
	width: 2.925em;

	@apply relative bg-gray-300 dark:bg-slate-800 bg-opacity-80 border border-gray-200 dark:border-slate-600 rounded-full shadow-sm cursor-pointer inline-block;
}

.darkmode-toggle button {
	border: none;
	border-radius: 50px;
	height: 1.55em;
	left: 0;
	margin: 0 0.1em;
	padding: 0;
	position: absolute;
	top: 0.1em;
	transition: background-color 0.2s ease, left 0.2s ease;
	width: 1.55em;
	left: 0;

	@apply bg-gray-100 text-black;
}

.dark .darkmode-toggle button {
	left: 0.833rem;
	@apply bg-accent-600 text-white;
}
.darkmode-toggle button span {
	@apply transition-transform duration-500;
}
.darkmode-toggle .dm-moon-icon,
.dark .darkmode-toggle .dm-sun-icon {
	@apply opacity-0 text-[0.875rem] -rotate-90 absolute;
}
.darkmode-toggle .dm-sun-icon,
.dark .darkmode-toggle .dm-moon-icon {
	@apply opacity-100 text-[0.875rem] absolute top-[0.185rem] left-[0.175rem] rotate-0;
}

.tw-hover-no-underline:hover {
	@apply no-underline;
}

.tw-tooltip-parent {
	@apply relative;
}
.tw-tooltip {
	@apply opacity-0 hidden absolute bg-slate-500 text-white rounded px-2 py-1 text-sm font-medium;
}
.tw-tooltip[aria-disabled="true"] {
	@apply bg-red-800;
}
.tw-tooltip-parent:hover .tw-tooltip {
	animation: lds-ring-fade-in 0.3s linear;
	@apply opacity-100 block h-auto;
}

.tw-screen-prompt[aria-selected="true"] {
	@apply fixed;
	@apply bg-black/30 dark:bg-black/50;
}
.tw-screen-prompt[aria-selected="false"] {
	@apply hidden;
}

/*
* Mobile
*/
.tw-sidebar-menu[aria-expanded="false"] {
	@apply hidden;
}
.tw-sidebar-menu[aria-expanded="true"] {
	@apply w-[calc(100vw-2rem)] sm:w-[calc(100vw-18rem)] md:w-[calc(100vw-30rem)] lg:w-[calc(100vw-40rem)] xl:w-64 2xl:w-72 3xl:w-[22rem] 4xl:w-[28rem];
	@apply px-2 pt-4 pb-4 xl:px-0 xl:pb-0 2xl:pl-4 2xl:pr-2 3xl:pl-10 4xl:pl-24;
	@apply m-2 xl:m-0 lg:ml-14 md:ml-4;
	@apply fixed xl:relative top-16 xl:top-auto xl:flex xl:flex-col;
	@apply shadow-xl rounded xl:shadow-[0] xl:rounded-none;
}

.rbc-calendar .rbc-toolbar {
	@apply border-b border-gray-300 bg-white dark:border-slate-800 dark:bg-slate-1000;
	@apply xl:border-0 xl:dark:bg-transparent;
	@apply fixed z-10 xl:relative top-0 left-0 right-0;
	@apply md:!pl-20 sm:!pr-8;
	@apply lg:!pl-36 lg:!pr-[4.5rem];
	@apply xl:!pr-4 xl:!pl-4 xl:rounded-t-md;
}
.rbc-calendar .rbc-toolbar span:first-child {
	/* today, back, next */
	@apply flex-1 pl-16 z-10;
	@apply md:!flex-auto md:!pl-0;
}
.rbc-calendar .rbc-toolbar span:nth-child(2) {
	/* April 2023 */
	@apply !flex-none !w-auto !text-right;
	@apply md:!text-center md:!w-1/3  md:!flex-auto;
}
.rbc-calendar .rbc-toolbar span:last-child {
	/* April 2023 */
	@apply !flex !basis-full !w-full pt-7;
	@apply md:!inline-block md:!basis-auto md:!w-1/3 md:!pt-0;
}
.rbc-calendar .rbc-toolbar span:last-child button {
	@apply flex-1;
}
.rbc-calendar .rbc-toolbar .rbc-btn-group button {
	@apply dark:!bg-slate-800;
	@apply xl:dark:!bg-slate-1000;
}
.rbc-calendar .rbc-toolbar .rbc-btn-group button.rbc-active {
	@apply dark:!bg-accent-800;
}
