/*
   * Icons
*/

.ic {
	height: 1rem;
	width: 1rem;
}

.ic-gray-25 {
	filter: invert(0.75);
}

.ic-gray-50 {
	filter: invert(0.5);
}

.ic-gray-60 {
	filter: invert(0.4);
}

.ic-gray-75 {
	filter: invert(0.25);
}

.ic-black {
	filter: invert(0);
}

.ic-white {
	filter: invert(1);
}

.ic-md {
	height: 1.25rem;
	width: 1.25rem;
}

.ic-lg {
	height: 1.75rem;
	width: 1.75rem;
}

.ic-open-in-new {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTkuNDUgNDMuMjVxLTEuOTUgMC0zLjMyNS0xLjM3NVE0Ljc1IDQwLjUgNC43NSAzOC41NVY5LjQ1cTAtMS45NSAxLjM3NS0zLjM1UTcuNSA0LjcgOS40NSA0LjdoMTMuNXY0Ljc1SDkuNDV2MjkuMWgyOS4xdi0xMy41aDQuNzV2MTMuNXEwIDEuOTUtMS40IDMuMzI1LTEuNCAxLjM3NS0zLjM1IDEuMzc1Wm0xMC44LTEyLjJMMTcgMjcuNzVsMTguMy0xOC4zaC05LjM1VjQuN0g0My4zdjE3LjM1aC00Ljc1di05LjNaIi8+PC9zdmc+);
	background-size: contain;
}

.ic-close {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0ibTEyLjQ1IDM4Ljg1LTMuMy0zLjNMMjAuNyAyNCA5LjE1IDEyLjQ1bDMuMy0zLjNMMjQgMjAuNyAzNS41NSA5LjE1bDMuMyAzLjNMMjcuMyAyNGwxMS41NSAxMS41NS0zLjMgMy4zTDI0IDI3LjNaIi8+PC9zdmc+);
	background-size: contain;
}

.ic-done {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTE4LjkgMzYuOSA2LjUgMjQuNWwzLjQtMy40IDkgOSAxOS4xNS0xOS4xNSAzLjQgMy40WiIvPjwvc3ZnPg==);
	background-size: contain;
}

.ic-delete {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTEyLjY1IDQzLjI1cS0yIDAtMy4zNzUtMS4zNVQ3LjkgMzguNTVWMTAuOUg1VjYuMmgxMS41NVYzLjhIMzEuNHYyLjRINDN2NC43aC0yLjl2MjcuNjVxMCAxLjk1LTEuNCAzLjMyNS0xLjQgMS4zNzUtMy4zNSAxLjM3NVptMjIuNy0zMi4zNWgtMjIuN3YyNy42NWgyMi43Wk0xNy43IDM0LjY1aDMuODVWMTQuN0gxNy43Wm04Ljc1IDBoMy45VjE0LjdoLTMuOVpNMTIuNjUgMTAuOXYyNy42NVoiLz48L3N2Zz4=);
	background-size: contain;
}

.ic-edit {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTkuMzUgMzkuMDVoMS42TDMyLjcgMTcuMmwtMS42LTEuNkw5LjM1IDM3LjQ1Wm0zMC41LTIzLjk1LTYuNi02LjYgMS4wNS0xLjFxMS40LTEuNCAzLjMyNS0xLjQyNVEzOS41NSA1Ljk1IDQwLjk1IDcuM2wuOS45cTEuMTUgMS4xIDEuMDI1IDIuNTUtLjEyNSAxLjQ1LTEuMTI1IDIuNDVabS0yLjA1IDIuMDVMMTIuMzUgNDIuNmgtNi42VjM2bDI1LjQtMjUuNFptLTUuODUtLjc1LS44NS0uOCAxLjYgMS42WiIvPjwvc3ZnPg==);
	background-size: contain;
}

.ic-add {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCI+PHBhdGggZD0iTTguNzcxIDE1LjQ3OXYtNC4yNWgtNC4yNVY4Ljc3MWg0LjI1di00LjI1aDIuNDU4djQuMjVoNC4yNXYyLjQ1OGgtNC4yNXY0LjI1WiIvPjwvc3ZnPg==);
	background-size: contain;
}

.ic-options-vertical {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCI+PHBhdGggZD0iTTEwIDE2Ljk1OHEtLjc1IDAtMS4yODEtLjUzMS0uNTMxLS41MzEtLjUzMS0xLjI4MSAwLS43NzEuNTMxLTEuMzAyLjUzMS0uNTMyIDEuMjgxLS41MzIuNzcxIDAgMS4yOTIuNTQyLjUyLjU0Mi41MiAxLjI5MnQtLjUyIDEuMjgxcS0uNTIxLjUzMS0xLjI5Mi41MzFabTAtNS4xNDZxLS43NSAwLTEuMjgxLS41MzEtLjUzMS0uNTMxLS41MzEtMS4yODEgMC0uNzcxLjUzMS0xLjI5Mi41MzEtLjUyIDEuMjgxLS41Mi43NzEgMCAxLjI5Mi41Mi41Mi41MjEuNTIgMS4yOTIgMCAuNzUtLjUyIDEuMjgxLS41MjEuNTMxLTEuMjkyLjUzMVptMC01LjEyNHEtLjc1IDAtMS4yODEtLjU0Mi0uNTMxLS41NDItLjUzMS0xLjI5MiAwLS43NzEuNTMxLTEuMjkxLjUzMS0uNTIxIDEuMjgxLS41MjEuNzcxIDAgMS4yOTIuNTIxLjUyLjUyLjUyIDEuMjkxIDAgLjc1LS41MiAxLjI5Mi0uNTIxLjU0Mi0xLjI5Mi41NDJaIi8+PC9zdmc+);
	background-size: contain;
}

.ic-double-arrow {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTkuNCAzOC44NSAyMC40NSAyNCA5LjQgOS4xNWg1Ljg1TDI2LjMgMjQgMTUuMjUgMzguODVabTE0Ljc1IDBMMzUuMiAyNCAyNC4xNSA5LjE1aDUuOEw0MS4wNSAyNGwtMTEuMSAxNC44NVoiLz48L3N2Zz4=);
	background-size: contain;
}

.ic-person {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTI0IDIzLjNxLTMuODUgMC02LjMtMi40NS0yLjQ1LTIuNDUtMi40NS02LjMgMC0zLjg1IDIuNDUtNi4zUTIwLjE1IDUuOCAyNCA1LjhxMy44NSAwIDYuMzI1IDIuNDV0Mi40NzUgNi4zcTAgMy44NS0yLjQ3NSA2LjNRMjcuODUgMjMuMyAyNCAyMy4zWk02Ljc1IDQxLjl2LTYuMDVxMC0yLjIgMS4xNS0zLjg3NSAxLjE1LTEuNjc1IDIuOTUtMi41MjUgMy40NS0xLjU1IDYuNjc1LTIuMzI1UTIwLjc1IDI2LjM1IDI0IDI2LjM1cTMuMyAwIDYuNS44dDYuNiAyLjNxMS45LjggMy4wNSAyLjQ3NXQxLjE1IDMuOTI1djYuMDVabTQuNy00LjdoMjUuMXYtMS4xNXEwLS43NS0uNDc1LTEuNDVUMzQuOSAzMy41NXEtMy0xLjQtNS41MjUtMS45MjVRMjYuODUgMzEuMSAyNCAzMS4xcS0yLjggMC01LjQyNS41MjVUMTMuMDUgMzMuNTVxLS43LjM1LTEuMTUgMS4wNS0uNDUuNy0uNDUgMS40NVpNMjQgMTguNnExLjc1IDAgMi45LTEuMTV0MS4xNS0yLjlxMC0xLjgtMS4xNS0yLjkyNVEyNS43NSAxMC41IDI0IDEwLjV0LTIuOSAxLjEyNXEtMS4xNSAxLjEyNS0xLjE1IDIuOTI1IDAgMS43NSAxLjE1IDIuOVQyNCAxOC42Wm0wLTQuMDVabTAgMjIuNjVaIi8+PC9zdmc+);
	background-size: contain;
}

.ic-check-box-empty {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iNDgiPjxwYXRoIGQ9Ik0xODktOTVxLTM5LjA1IDAtNjYuNTI1LTI3LjQ3NVE5NS0xNDkuOTUgOTUtMTg5di01ODJxMC0zOS40NjMgMjcuNDc1LTY3LjIzMVExNDkuOTUtODY2IDE4OS04NjZoNTgycTM5LjQ2MyAwIDY3LjIzMSAyNy43NjlRODY2LTgxMC40NjMgODY2LTc3MXY1ODJxMCAzOS4wNS0yNy43NjkgNjYuNTI1UTgxMC40NjMtOTUgNzcxLTk1SDE4OVptMC05NGg1ODJ2LTU4MkgxODl2NTgyWiIvPjwvc3ZnPg==);
	background-size: contain;
}

.ic-check-box-ticked {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iNDgiPjxwYXRoIGQ9Im00MTctMzAyIDMwMC0zMDItNjMtNjQtMjM3IDIzOC0xMTAtMTEwLTYzIDY0IDE3MyAxNzRaTTE4OS05NXEtMzkuMDUgMC02Ni41MjUtMjcuNDc1UTk1LTE0OS45NSA5NS0xODl2LTU4MnEwLTM5LjQ2MyAyNy40NzUtNjcuMjMxUTE0OS45NS04NjYgMTg5LTg2Nmg1ODJxMzkuNDYzIDAgNjcuMjMxIDI3Ljc2OVE4NjYtODEwLjQ2MyA4NjYtNzcxdjU4MnEwIDM5LjA1LTI3Ljc2OSA2Ni41MjVRODEwLjQ2My05NSA3NzEtOTVIMTg5WiIvPjwvc3ZnPg==);
	background-size: contain;
}

.ic-north {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgOTYgOTYwIDk2MCIgd2lkdGg9IjQ4Ij48cGF0aCBkPSJNNDQwLjM5MSA5ODUuNjA5VjMxMi42MUwyNDEuNDM1IDUxMi42OTZsLTU1LjU2Ni01Ni4xMzFMNDgwIDE2Mi40MzRsMjk0LjY5NiAyOTQuMTMxLTU1LjU2NiA1NS41NjZMNTE5LjYwOSAzMTIuNjF2NjcyLjk5OWgtNzkuMjE4WiIvPjwvc3ZnPg==);
	background-size: contain;
}
